<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Celesta : Custom selectbox with look and feel of native one">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/autumn.css">
    <style>
        .highlight * { font-weight: normal !important; font-style: normal !important; }
    </style>

    <title>Celesta{% if page.title %} :: {{ page.title }}{% endif %}</title>
</head>
<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/thybzi/celesta">View on GitHub</a>

            <h1 id="project_title">Celesta</h1>
            <h2 id="project_tagline">Custom selectbox with look and feel of native one</h2>

            <section id="downloads">
                <a class="zip_download_link" href="https://github.com/thybzi/celesta/zipball/master">Download this project as a .zip file</a>
                <a class="tar_download_link" href="https://github.com/thybzi/celesta/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
          <section id="main_content" class="inner">
